/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

/* websocket chat page */
body_socket {
  margin: 0;
  padding: 0;
  background-color: black;
}

#dbg,
#input_div,
#input_el {
  font-family: monaco;
  font-size: 12px;
  line-height: 13px;
  color: #aaa;
}

#dbg,
#input_div {
  margin: 0;
  padding: 0;
  padding-left: 4px;
}

#input_el {
  width: 98%;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}
#input_el:focus {
  outline: none;
}

/* add the style of our system time clock */
.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #17d4fe;
  font-size: 60px;
  font-family: Arial;
  letter-spacing: 7px;
}

.calendar {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-60%);
  color: #17d4fe;
  font-size: 60px;
  font-family: Arial;
  letter-spacing: 7px;
}
